.app-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 42px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

pre, code {
	color: red;
	background-color: white
}

.app-navbar {
	margin-bottom: 0px;
}

.app-jumbotron {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0px
}